.hero {
  background-color: #f1f3ff;
}
.navbar {
  background-color: #f1f3ff;
}
#accordion {
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  #whyustext {
    text-align: center;
  }
  #whyusp {
    text-align: center;
  }
  #cardlist {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 768px) {
  #whyustext {
    text-align: center;
  }
  #whyusp {
    text-align: center;
  }
  #cardlist {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: #0d28a6;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: #0d28a6;
}
