.hero {
  background-color: #f1f3ff;
}
.navbar {
  background-color: #f1f3ff;
}
#accordion {
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  #whyustext {
    text-align: center;
  }
  #whyusp {
    text-align: center;
  }
  #cardlist {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
  #bluebanner {
  }
}
@media only screen and (max-width: 768px) {
  #whyustext {
    text-align: center;
  }
  #whyusp {
    text-align: center;
  }
  #cardlist {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
}
